<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Việt Nam Hôm Nay</title>
  <meta name="description" content="Việt Nam Hôm Nay">
  <meta name="keywords" content="Việt Nam Hôm Nay">
  <meta name="fragment" content="!">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" href="img/favicon.ico">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic&subset=latin,vietnamese,latin-ext' rel='stylesheet' type='text/css'>
  <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet" />

  <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
  <script type="text/javascript" src="//cdn.tinymce.com/4/tinymce.min.js"></script>
</head>

<body>
  
</body>
