<template name="changePassword">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <form class="reset-form">
                <div class="form-row">
                    <label class="sr-only">Current Password</label>
                    <input type="password" name="password" class="form-input" id="currentPassword" placeholder="Current password" required>
                </div>
                <div class="form-row">
                    <label class="sr-only">New Password</label>
                    <input type="password" name="newPassword" class="form-input" id="newPassword" placeholder="New password" required>
                </div>
                <div class="form-row">
                    <label class="sr-only">Confirm New Password</label>
                    <input type="password" name="confirmNewPassword" class="form-input" id="confirmNewPassword" placeholder="Confirm new password" required>
                </div>
                <div class="form-submit margin-top">
                    <button type="submit" class="form-button">{{i18n "form.reset_label"}}</button>
                </div>
            </form>
        </div>
    </div>
</template>