<template name="profile">
  <div class="profile">
    <div class="profile-body">

      <div class="profile-info">
        <div class="profile-image">
          <img src="http://placehold.it/50x50" alt="">
        </div>
        <div class="profile-content">
          <div class="profile-username">Justin Baby</div>
          <div class="profile-label">
            <img src="img/badge.png" alt="">
            <span>#312</span>
          </div>
        </div>
        <a href="#" class="button button-white-shadow button-normal rounded profile-button"><i class="fa fa-user"></i> {{i18n "follow"}}</a>
      </div>
      <!-- profile-info -->

      <div class="profile-social">
        <div class="profile-column">
          <span class="number">192</span>
          <span class="text">{{i18n "posts"}}</span>
        </div>
        <div class="profile-column">
          <span class="number">392</span>
          <span class="text">{{i18n "header_readerships"}}</span>
        </div>
        <div class="profile-column">
          <span class="number">76</span>
          <span class="text">{{i18n "header_followings"}}</span>
        </div>
      </div>
      <!-- profile-social -->

    </div>
    <!-- profile-body -->

    <div class="profile-badge">
      <img src="img/badge.png" alt="">
      <img src="img/badge.png" alt="">
      <img src="img/badge.png" alt="">
      <img src="img/badge.png" alt="">
      <img src="img/badge.png" alt="">
    </div>
    <!-- profile-badge -->
  </div>
</template>