<template name="sidebar_channel">
  <section class="sidebar-block">
    <header class="sidebar-header clearfix">
      <h2>{{i18n "channel"}}</h2>
      <a href="#">{{i18n "all_channel"}}</a>
    </header>
    <div class="sidebar-body">
      <ul class="channel-list">
        <li>
          <a href="#" class="button button-only-text button-normal rounded channel-button" style="background-color: #553c8e; border-color: #553c8e;">X&atilde; h&#7897;i</a>
        </li>
        <li>
          <a href="#" class="button button-only-text button-normal rounded channel-button" style="background-color: #07a957; border-color: #07a957;">Gi&#7843;i tr&iacute;</a>
        </li>
        <li>
          <a href="#" class="button button-only-text button-normal rounded channel-button" style="background-color: #ff6704; border-color: #ff6704;">Th&#7875; thao</a>
        </li>
        <li>
          <a href="#" class="button button-only-text button-normal rounded channel-button" style="background-color: #1376bb; border-color: #1376bb;">C&ocirc;ng ngh&#7879;</a>
        </li>
        <li>
          <a href="#" class="button button-only-text button-normal rounded channel-button" style="background-color: #344e70; border-color: #344e70;">Ph&aacute;p lu&#7853;t</a>
        </li>
      </ul>
    </div>
  </section>
</template>