<template name="sidebar_tags">
  <section class="sidebar-block">
    <header class="sidebar-header clearfix">
      <h2>{{i18n "tags"}}</h2>
    </header>
    <div class="sidebar-body">
      <ul class="tag-list">
        <li>
          <a href="#" class="button button-only-text button-normal button-white rounded tag-button">X&atilde; h&#7897;i</a>
        </li>
        <li>
          <a href="#" class="button button-only-text button-normal button-white rounded tag-button">Gi&#7843;i tr&iacute;</a>
        </li>
        <li>
          <a href="#" class="button button-only-text button-normal button-white rounded tag-button">Th&#7875; thao</a>
        </li>
        <li>
          <a href="#" class="button button-only-text button-normal button-white rounded tag-button">C&ocirc;ng ngh&#7879;</a>
        </li>
        <li>
          <a href="#" class="button button-only-text button-normal button-white rounded tag-button">Ph&aacute;p lu&#7853;t</a>
        </li>
      </ul>
    </div>
  </section>
</template>