<template name="sidebar_recommended">
  <section class="sidebar-block">
    <header class="sidebar-header clearfix">
      <h2>{{i18n "sidebar_recommended"}}</h2>
    </header>
    <div class="sidebar-body">
      <ul class="recommend-list">

        <li class="recommend-item">
          <div class="recommend-image">
            <a href="#">
              <img src="http://placehold.it/50x50" alt="">
            </a>
          </div>
          <div class="recommend-content">
            <div class="recommend-username"><a href="#">Nick Thomas</a></div>
            <div class="recommend-info">
              <img src="img/badge.png" alt="">
              <span>#312</span>
            </div>
          </div>
          <a href="#" class="button button-white-shadow button-normal rounded recommend-button"><i class="fa fa-user"></i> {{i18n "follow"}}</a>
        </li>
        <!-- recommend-item -->

        <li class="recommend-item">
          <div class="recommend-image">
            <a href="#">
              <img src="http://placehold.it/50x50" alt="">
            </a>
          </div>
          <div class="recommend-content">
            <div class="recommend-username"><a href="#">Nick Thomas</a></div>
            <div class="recommend-info">
              <img src="img/badge.png" alt="">
              <span>#312</span>
            </div>
          </div>
          <a href="#" class="button button-white-shadow button-normal rounded recommend-button"><i class="fa fa-user"></i> {{i18n "follow"}}</a>
        </li>
        <!-- recommend-item -->


        <li class="recommend-item">
          <div class="recommend-image">
            <a href="#">
              <img src="http://placehold.it/50x50" alt="">
            </a>
          </div>
          <div class="recommend-content">
            <div class="recommend-username"><a href="#">Nick Thomas</a></div>
            <div class="recommend-info">
              <img src="img/badge.png" alt="">
              <span>#312</span>
            </div>
          </div>
          <a href="#" class="button button-white-shadow button-normal rounded recommend-button"><i class="fa fa-user"></i> {{i18n "follow"}}</a>
        </li>
        <!-- recommend-item -->


        <li class="recommend-item">
          <div class="recommend-image">
            <a href="#">
              <img src="http://placehold.it/50x50" alt="">
            </a>
          </div>
          <div class="recommend-content">
            <div class="recommend-username"><a href="#">Nick Thomas</a></div>
            <div class="recommend-info">
              <img src="img/badge.png" alt="">
              <span>#312</span>
            </div>
          </div>
          <a href="#" class="button button-white-shadow button-normal rounded recommend-button"><i class="fa fa-user"></i> {{i18n "follow"}}</a>
        </li>
        <!-- recommend-item -->


        <li class="recommend-item">
          <div class="recommend-image">
            <a href="#">
              <img src="http://placehold.it/50x50" alt="">
            </a>
          </div>
          <div class="recommend-content">
            <div class="recommend-username"><a href="#">Nick Thomas</a></div>
            <div class="recommend-info">
              <img src="img/badge.png" alt="">
              <span>#312</span>
            </div>
          </div>
          <a href="#" class="button button-white-shadow button-normal rounded recommend-button"><i class="fa fa-user"></i> {{i18n "follow"}}</a>
        </li>
        <!-- recommend-item -->

      </ul>
    </div>
  </section>
</template>