<template name="footer">
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-push-6">
          <div class="footer-social">
            <a href="#" class="social-button original facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="social-button original linkedin"><i class="fa fa-linkedin"></i></a>
            <a href="#" class="social-button original twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="social-button original google"><i class="fa fa-google"></i></a>
          </div>
          <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-pull-6">
          <div class="footer-copyright">
            <p>&copy; Copyright 2015 <a href="/"><span>VN</span>Homnay</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>