<template name="signup">
    <div class="form-login">
        <div class="container">
            <div class="login-logo"> <img src="/img/logo.png"></div>
            <form class="login-block">
                <h1>Signup</h1>
                <p class="account-alert">Create your new account!</p>
                <fieldset>
                    <input type="email" id="email" name="email" placeholder="Email" required>
                    <input type="password" id="password" name="password" placeholder="Password" required>
                </fieldset>
                <button type="submit">Signup</button>
                <a class="login-signup" href="/admin">Login</a>
            </form>
        </div>
    </div>
</template>