/**
 * Variables
 */

/* colors */
$white: #fff;
$black: #000;
$xthin-light-black: #131418;
$xxthin-light-black: #1d1d20;
$thin-light-black: #444;
$light-black: #666;
$xlight-black: #999;
$xxlight-black: #525356;
$gray: #ececec;
$light-gray: #f7f8fa;
$xlight-gray: #f2f2f2;
$xxlight-gray: #f6f6f6;
$thin-gray: #e4e4e4;
$xthin-gray: #aaa;
$xxthin-gray: #63696c;
$xxxthin-gray: #afb4b6;
$dark-gray: #a4a4a4;
$xdark-gray: #3f4045;
$xxdark-gray: #dfdfdf;
$xxxdark-gray: #272727;
$blue: #1376bb;
$dark-blue: #393f42;
$light-blue: #858a8d;
$red: #e74c3c;
$fb: #3b5998;
$ln: #007bb6;
$tw: #00aced;
$gg: #cf1516;
$err: #a94442;

$report: #00ff78;
$link: #6b92c0;
$photo: #f13f4c;
$video: #2ebfcc;
$audio: #9b80d7;

/* fonts */
$font-base: 16px;
$font-family: 'Roboto', sans-serif;
$font-bold: 700;
$font-medium: 500;
$font-normal: 400;

/* gutter */
$gutter: 20px;

/* breakpoint */
$large: 1200px;
$desktop: 992px;
$tablet: 768px;