<template name="cropperModal">
    <div class="modal fade" id="cropperModal" aria-labelledby="modalLabel" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalLabel">Crop the image</h4>
                </div>
                <div class="modal-body">
                    <div class="cropperPreview"></div>
                </div>
                <div class="modal-footer">
                    <button id="cropperUpload" type="button" class="btn btn-primary">Upload</button>
                    <button type="button" class="btn btn-default dismiss" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</template>