<template name="highlight">
  <div class="highlight" id="highlight">
    <div class="highlight-item">
      <img src="http://staging.celebrateditaly.com/content/uploads/013-feature-720x480.jpg" width="614" height="400">
      <div class="highlight-wrapper">
        <div class="highlight-order">
          <span class="highlight-number">1</span>
          <span class="highlight-vote"><i>11.9K</i>VOTE</span>
        </div>
        <!-- highlight-order -->

        <div class="highlight-info">
          <span class="highlight-recently">8 hours ago</span>
          <span class="highlight-channel">IN <i style="color: #ff6704;">SPORT</i></span>
        </div>
        <!-- highlight-info -->

        <div class="highlight-content">
          <div class="row">
            <div class="col-xs-10">
              <h2 class="highlight-title">Angelina Jolie Looks Frighteningly At NYC’s WSJ Innovator Awards</h2>
              <div class="highlight-action">
                <span><i class="fa fa-eye"></i>369</span>
                <span><i class="fa fa-heart"></i>112</span>
                <span><i class="fa fa-comments"></i>23</span>
                <span><i class="fa fa-share"></i>152</span>
              </div>
            </div>
          </div>
        </div>
        <!-- highlight-info -->

        <div class="highlight-avatar">
          <img src="http://placehold.it/50x50" alt="" width="50" height="50">
        </div>
        <!-- highlight-avatar -->

      </div>
    </div>
    <div class="highlight-item">
      <img src="http://staging.celebrateditaly.com/content/uploads/013-misc-003-720x480.jpg" width="614" height="400">
      <div class="highlight-wrapper">
        <div class="highlight-order">
          <span class="highlight-number">2</span>
          <span class="highlight-vote"><i>11.9K</i>VOTE</span>
        </div>
        <!-- highlight-order -->

        <div class="highlight-info">
          <span class="highlight-recently">8 hours ago</span>
          <span class="highlight-channel">IN <i style="color: #ff6704;">SPORT</i></span>
        </div>
        <!-- highlight-info -->

        <div class="highlight-content">
          <div class="row">
            <div class="col-xs-10">
              <h2 class="highlight-title">Angelina Jolie Looks Frighteningly At NYC’s WSJ Innovator Awards</h2>
              <div class="highlight-action">
                <span><i class="fa fa-eye"></i>369</span>
                <span><i class="fa fa-heart"></i>112</span>
                <span><i class="fa fa-comments"></i>23</span>
                <span><i class="fa fa-share"></i>152</span>
              </div>
            </div>
          </div>
        </div>
        <!-- highlight-info -->

        <div class="highlight-avatar">
          <img src="http://placehold.it/50x50" alt="" width="50" height="50">
        </div>
        <!-- highlight-avatar -->

      </div>
    </div>
    <div class="highlight-item">
      <img src="http://staging.celebrateditaly.com/content/uploads/013-misc-006-720x480.jpg" width="614" height="400">
      <div class="highlight-wrapper">
        <div class="highlight-order">
          <span class="highlight-number">3</span>
          <span class="highlight-vote"><i>11.9K</i>VOTE</span>
        </div>
        <!-- highlight-order -->

        <div class="highlight-info">
          <span class="highlight-recently">8 hours ago</span>
          <span class="highlight-channel">IN <i style="color: #ff6704;">SPORT</i></span>
        </div>
        <!-- highlight-info -->

        <div class="highlight-content">
          <div class="row">
            <div class="col-xs-10">
              <h2 class="highlight-title">Angelina Jolie Looks Frighteningly At NYC’s WSJ Innovator Awards</h2>
              <div class="highlight-action">
                <span><i class="fa fa-eye"></i>369</span>
                <span><i class="fa fa-heart"></i>112</span>
                <span><i class="fa fa-comments"></i>23</span>
                <span><i class="fa fa-share"></i>152</span>
              </div>
            </div>
          </div>
        </div>
        <!-- highlight-info -->

        <div class="highlight-avatar">
          <img src="http://placehold.it/50x50" alt="" width="50" height="50">
        </div>
        <!-- highlight-avatar -->

      </div>
    </div>
    <div class="highlight-item">
      <img src="http://staging.celebrateditaly.com/content/uploads/013-misc-001-720x480.jpg" width="614" height="400">
      <div class="highlight-wrapper">
        <div class="highlight-order">
          <span class="highlight-number">4</span>
          <span class="highlight-vote"><i>11.9K</i>VOTE</span>
        </div>
        <!-- highlight-order -->

        <div class="highlight-info">
          <span class="highlight-recently">8 hours ago</span>
          <span class="highlight-channel">IN <i style="color: #ff6704;">SPORT</i></span>
        </div>
        <!-- highlight-info -->

        <div class="highlight-content">
          <div class="row">
            <div class="col-xs-10">
              <h2 class="highlight-title">Angelina Jolie Looks Frighteningly At NYC’s WSJ Innovator Awards</h2>
              <div class="highlight-action">
                <span><i class="fa fa-eye"></i>369</span>
                <span><i class="fa fa-heart"></i>112</span>
                <span><i class="fa fa-comments"></i>23</span>
                <span><i class="fa fa-share"></i>152</span>
              </div>
            </div>
          </div>
        </div>
        <!-- highlight-info -->

        <div class="highlight-avatar">
          <img src="http://placehold.it/50x50" alt="" width="50" height="50">
        </div>
        <!-- highlight-avatar -->

      </div>
    </div>
  </div>
</template>