<!--User General-->

<template name="userGeneral">
    <div class="user-general">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <span class="title">General information</span>
                    <div class="item">
                        <p><b>Member in :</b>  28/11/2015</p>
                        <p><b>Full name :</b>  thanhphuc</p>
                        <p><b>Company :</b>  28/11/2015</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <span class="title">Contact information</span>
                    <div class="item">
                        <p><b>Address:</b>  Quang Nam</p>
                        <p><b>Email :</b>  thanhphuc@gmail.com</p>
                        <p><b>Phone :</b>  0962 830 860</p>
                        <p><b>Website :</b>  http://lungvang.vn</p>
                        <p><b>Skype :</b>  thanhphuc0138</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <span class="title">Skills</span>
                    <div class="item">
                        <p><b>Skill 1 :</b>  abc</p>
                        <p><b>Skill 2 :</b>  bcd</p>
                        <p><b>Skill 3:</b>  cde</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>